
    <div id="mobile-menu-open" class="shadow-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <!-- End #mobile-menu-toggle -->
    <header>
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#experience">Experience</a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="#contact">Links</a>
            </li>
        </ul>
    </header>
    <!-- End header -->

    <div id="lead">
        <div id="lead-content">
            <h1>Bernard Leong</h1>
            <h2>Web developer</h2>

        </div>
        <!-- End #lead-content -->

        <div id="lead-overlay"></div>

        <div id="lead-down">
        </div>
        <!-- End #lead-down -->
    </div>
    <!-- End #lead -->

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">About Me</h2>
                </div>
                <div class="col-md-8">
                    <p>
                      I am a self-taught/bootcamp graduate and I have a serious passion for UI effects, animations and creating intuitive, 
                      great user experiences. My skills is not limited to front-end but also back-end Ruby on Rails. 
                    </p>
                </div>
            </div>
        </div>
    </div>
<div id = "experience"></div>
        <h2 class="heading">Experience</h2>
                <h3>Alpha Camp</h3>
                <p>
                  <p><li>  Attended a 12 weeks (480 hours) full -time course on full
                  stack web development.</li></p>

                  <p><li> Implemented a total of 3 individual projects and 2 group
                  projects using current web technologies such as Ruby,
                  Ruby on Rails , PostgreSQL, SQLite, Jquery, AJAX, HTML,
                  CSS and Javascript. </li></p>
                </p>
            </div>
<hr>
                <h3>Animagine Pte Ltd</h3>
                <h4>Freelance Video Editor</h4>
                <p>
                    Provided video editing services ranging from color correction and editing off bad portion within a student’s submission clip.
                </p>
                <h4>Freelance Teaching Assistant </h4>
                <p>
                    Taught and assisted students in groups of 30 on
                    Paper Cut Animation
                </p>
            </div>
<hr>

                <h3>Digital Mirage L.L.P</h3>
                <h4>Freelance 3D Modeler</h4>
                <p>
                    Successfully came out with 3D models of aeroplanes
                    both interior and exterior.
                </p>
                <p>
                    Completed 2 full projects in the course of my employment
                </p>
            </div>
        </div>
    </div>
<hr>
    <!-- End #experience -->

    <div id="education">
        <h2 class="heading">Education</h2>
        <div class="education-block">
            <h3>Nanyang Polytechnic</h3>
            <span class="education-date"> 2009 - 2012</span>
            <h4>Nanyang Polytechnic</h4>
        </div>
        <!-- End .education-block -->

        <div class="education-block">
            <h3>3D Sense Media School</h3>
            <span class="education-date">2015 - 2016</span>
            <h4>WSQ Diploma in Animation</h4>

        </div>
        <!-- End .education-block -->
    </div>
    <!-- End #education -->

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">Projects</h2>
                </div>
                <div class="col-md-8">
                    <p>A Twitter Clone coded in Alphacamp. It contains most of the basic functionality of twitter. </p>
                  <div class="projects-space"> Click<a href="https://github.com/BernardLeong/friendz"> here !</a> </div>
<hr>
                    <p>A catering service shopping cart application. We use Braintree for payments. </p>
                  <div class="projects-space">Click <a href="https://github.com/zainudinsainal/shoppingcart-zb"> here !</a> </div>

                </div>
            </div>
        </div>
    </div>


    <div id="skills">
        <h2 class="heading">Skills</h2>
        <ul>
            <li>Ruby on Rails</li>
            <li>JavaScript</li>
            <li>Ruby</li>
            <li>Node.js</li>
            <li>React</li>
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>After Effects</li>
            
            
        </ul>
    </div>
    <!-- End #skills -->

    <div id="contact">
        <h2>Get in Touch</h2>
        <a class="btn btn-primary" href="https://www.linkedin.com/in/bernard-leong-899399120/">Linkedin</a>
        <a class="btn btn-primary" href="https://github.com/BernardLeong">Github</a>
        </div>
        <!-- End #contact-form -->
    </div>
    <!-- End #contact -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Copyright &copy; 2017 BERNARD LEONG
                    </p>
                </div>
                <div class="col-sm-5 social">
                    <ul>
                        <li>
                            <a href="https://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->


